redirect 301 /index.html https://mariomerinomartinez.uc3m.es/index.html 
redirect permanent /index.html https://mariomerinomartinez.uc3m.es/index.html  
redirectpermanent /index.html https://mariomerinomartinez.uc3m.es/index.html 
